<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Email Sorter App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
     <% if logged_in? %>
      <p class="text-lg text-green-600 font-semibold">Hello, <%= current_user.name %> 👋</p>
      <%= form_with url: logout_path, method: :delete do %>
        <%= submit_tag "Logout", class: "bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg shadow-md transition cursor-pointer" %>
      <% end %>
    <% end %>
  </footer>
</html>
