<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Email Sorter App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>

<footer class="bg-light py-4 mt-5 border-top shadow-sm">
  <div class="container text-center">
    <% if logged_in? %>
      <p class="h5 text-success fw-semibold mb-2">
        Hello, <%= current_user.name %> 👋
      </p>
      <%= form_with url: logout_path, method: :delete, class: "d-inline" do %>
        <%= submit_tag "Logout", class: "btn btn-danger fw-bold px-4 py-2 shadow-sm" %>
      <% end %>
    <% else %>
      <p class="text-muted">You are not logged in.</p>
    <% end %>
  </div>
</footer>
</html>
